html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif
}

#loader {
  display: flex;
  flex-direction: row;
}

#app-root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.not-found {
  display: flex;
  flex-flow: column;
  text-align: center;
}